@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    /* background: rgb(245, 245, 245); */
    margin: 15px;
    font-family: 'Fira Sans';
    margin-top: 20px;
}

/* shared style */
/* .backgroud{
    background-color: #C6E4D6;
} */



/* header style */

header> nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.heading-buttom{
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 10px 20px;
}
.head{
    border-radius: 24px;
    background-color: #C6E4D6;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header-top-heading{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.header-contain{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    }
.header-buttom{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 15px;
}    
.header-img{
    width: 500px;
}

/* Main styled */

main{
    border-radius: 24px;
}
/* main part-pillar */

.main-pillar{
    margin-top: 100px;
}
.pillar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pillar-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 50px;
}
.pillars{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(245, 245, 245);
    padding: 5px;
}

/* main part-vision */

.main-vision{
    margin-top: 100px;
}
.vision{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}
.vision-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.vision-content{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.visions-1{
    box-sizing: border-box;
    border-radius: 16px;
    padding: 5px;
    background: rgba(84, 144, 245, 0.2);
    
}
.visions-2{
    box-sizing: border-box;
    border-radius: 16px;
    padding: 5px;
    background: rgb(198, 228, 214);
}
.visions-3{
    box-sizing: border-box;
    border-radius: 16px;
    padding: 5px;
    background: rgb(247, 235, 207);
}
.btn-1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.btn-2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    border: none;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.btn-3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    border: none;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.visions-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.visions-content{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
/* main part-yunus */
.yunus{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 10px;
    background: rgb(245, 245, 245);
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.yunus-content{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.yunus-position{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
/* main part-table */
.table-title{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    width: 1111px;
    
   
}
.btn-4{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 5px 10px;
}
table{
    border-collapse: collapse;
    width: 1111px;
    height: auto;
}
td{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
}
/* main part-satelite */
.recent-news{
    margin-top: 100px;
    margin-bottom: 100px;
}
.satelite-shared{
    border-radius: 24px;
    background: rgb(245, 245, 245);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.satelite-img{
    border-radius: 24px;

}
.btn-5{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 10px 20px;
    border: none;
    color: white;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.news-content{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.satelite-2{
    flex-direction: row-reverse;
}
/* main part-donate */
.direction{
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-6{    
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(245, 245, 245);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px 20px;
    text-align: center;
}
.effect{
    background: #C6E4D6;
}
.amount{
    box-sizing: border-box;
    border-bottom-left-radius: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(245, 245, 245);
    width: 1000px;
    padding: 10px 20px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.btn-7{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 15px 35px;
    margin-left: 500px;
    margin-bottom: 100px;
}